<!-- TODO Date AND Time Picker -->
<mat-form-field style="width:1px;height:1px;visibility:hidden;">
  <mat-date-range-input [formGroup]="timeRange" [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
</mat-form-field>
<mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Select a time range"></mat-datepicker-toggle>
<mat-date-range-picker #picker></mat-date-range-picker>

<button mat-icon-button
        matTooltip="{{ buttonPlay.tooltip }}"
        class="drag-handler"
        color="{{ buttonPlay.color }}"
        (click)="handlePlay()">
  <span class="material-icons">{{ buttonPlay.icon }}</span>
</button>

<button mat-icon-button
        matTooltip="To present time"
        class="drag-handler"
        color="accent"
        (click)="handleToPresent()">
  <span class="material-icons">skip_previous</span>
</button>

<button mat-icon-button
        matTooltip="{{ speedMultiplier.tooltip }}"
        class="drag-handler"
        color="accent"
        (click)="handleSpeed()">
  <mat-icon matBadge="{{ speedMultiplier.display }}"
            matBadgeColor="primary"
            [matBadgeHidden]="speedMultiplier.hidden">
    fast_forward
  </mat-icon>
  <span class="cdk-visually-hidden">Speed multiplier</span>
</button>

<button id="buttonTimeDisplay" mat-stroked-button color="accent" disabled>{{ currentTimeString }}</button>
