<gridster [options]="options">
  <gridster-item [item]="dashboard[itemPos.menuBar]" (itemChange)="layoutChanged()">
    <span color="primary"><b>&nbsp;city-web-map&nbsp;</b></span>
    <button mat-stroked-button matTooltip="Open existing workspace">
      <span class="material-icons">drive_file_move_rtl</span>&nbsp;Open
    </button>
    <button mat-stroked-button matTooltip="Save current workspace">
      <span class="material-icons">drive_folder_upload</span>&nbsp;Save
    </button>
    <button mat-stroked-button matTooltip="Create new workspace">
      <span class="material-icons">create_new_folder</span>&nbsp;New
    </button>
    <app-button-toggle-layout (buttonToggleValue)="handleButtonToggleValue($event)" [changedLayout]="changedLayout">
    </app-button-toggle-layout>
    <button mat-stroked-button matTooltip="Configure application">
      <span class="material-icons">settings_applications</span>&nbsp;Settings
    </button>
    <app-cheat-sheet></app-cheat-sheet>
    <button mat-stroked-button matTooltip="Show help information">
      <span class="material-icons">help_center</span>&nbsp;Help
    </button>
    <button mat-stroked-button matTooltip="Join us on GitHub">
      <img src="/assets/images/thirdParty/GitHub-Mark-32px.png" width="30%"/>&nbsp;GitHub
    </button>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.layerList]" (itemChange)="layoutChanged()">
    <app-layer-list></app-layer-list>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.menuContext]" (itemChange)="layoutChanged()">
    <app-menu-context></app-menu-context>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.menu]" (itemChange)="layoutChanged()">
    <app-menu></app-menu>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.nav]" (itemChange)="layoutChanged()">
    <app-nav></app-nav>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.info]" (itemChange)="layoutChanged()">
    <app-info></app-info>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.viewList]"(itemChange)="layoutChanged()">
    <app-view-list></app-view-list>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.status]" (itemChange)="layoutChanged()">
    <app-status></app-status>
  </gridster-item>
  <gridster-item [item]="dashboard[itemPos.globe]" (itemChange)="layoutChanged()">
    <div appCesium class="mat-elevation-z1"></div>
  </gridster-item>
</gridster>
