<!-- TODO Use GUI like Windows/Mac for modal dialogs? -->
<!-- TODO Such as https://stackblitz.com/edit/fu7sh9--run?file=app/app.component.ts -->
<!-- TODO Run this program like a window application? Such as using Election? -->
<gridster [options]="options"
          (dragover)="handleDragOver($event)"
          (drop)="handleDropSuccess($event)">
  <!-- Menu Bar -->
  <gridster-item [item]="dashboard.menuBar.layout"
                 (itemChange)="layoutChanged($event, 0)">
    <span color="primary"><b>&nbsp;city-web-map&nbsp;</b></span>
    <button id="buttonLoad"
            mat-stroked-button
            matTooltip="Open existing workspace | Ctrl+O"
            (click)="handleLoad()">
      <span class="material-icons">unarchive</span>&nbsp;Open
    </button>
    <button id="buttonQuickSaveWorkspace"
            mat-stroked-button
            matTooltip="Quickly save current workspace to cookie | Ctrl+S"
            (click)="handleQuickSave()">
      <span class="material-icons">save</span>&nbsp;Quick save
    </button>
    <button id="buttonQuickExportWorkspace"
            mat-stroked-button
            matTooltip="Quickly export current workspace to a local file | Ctrl+Alt+X"
            (click)="handleQuickExport()">
      <span class="material-icons">archive</span>&nbsp;Quick export
    </button>
    <button id="buttonSaveWorkspaceAs"
            mat-stroked-button
            matTooltip="Save as ... | Ctrl+Alt+S" (click)="handleSaveAs()">
      <span class="material-icons">archive</span>&nbsp;Save as ...
    </button>
    <button id="buttonNewWorkspace"
            mat-stroked-button
            matTooltip="Create new workspace | Ctrl+Alt+N" (click)="handleNew()">
      <span class="material-icons">add_box</span>&nbsp;New
    </button>
    <app-settings></app-settings>
    <app-cheat-sheet></app-cheat-sheet>
    <button mat-stroked-button
            matTooltip="Show help information">
      <span class="material-icons">help_center</span>&nbsp;Help
    </button>
    <button mat-stroked-button
            matTooltip="Join us on GitHub">
      <img src="/assets/images/thirdParty/GitHub-Mark-32px.png" width="30%"/>&nbsp;GitHub
    </button>
    <app-switch-theme></app-switch-theme>
  </gridster-item>
  <!-- Workspace View -->
  <gridster-item [item]="dashboard.workspaceView.layout"
                 (itemChange)="layoutChanged($event, 1)">
    <app-workspace-view></app-workspace-view>
  </gridster-item>
  <!-- Detail View -->
  <gridster-item [item]="dashboard.detailView.layout"
                 (itemChange)="layoutChanged($event, 2)">
    <app-detail-view></app-detail-view>
  </gridster-item>
  <!-- Info View -->
  <gridster-item [item]="dashboard.infoView.layout"
                 (itemChange)="layoutChanged($event, 3)">
    <app-info-view></app-info-view>
  </gridster-item>
  <!-- Status View -->
  <gridster-item [item]="dashboard.statusView.layout"
                 (itemChange)="layoutChanged($event, 4)">
    <app-status-view></app-status-view>
  </gridster-item>
  <!-- Globe / Cesium -->
  <gridster-item [item]="dashboard.globe.layout"
                 (itemChange)="layoutChanged($event, 5)">
    <div appGlobe></div>
    <div class="corner-top corner-left">
      <!-- TODO Add app shadow -->
      <!-- TODO Add app 3D/2D -->
    </div>
    <div class="corner-top corner-right">
      <app-search-location></app-search-location>
      <app-fly-home></app-fly-home>
      <app-imagery-layer-picker></app-imagery-layer-picker>
      <!-- TODO Terrain -->
      <!-- TODO GPS / Live tracking -->
      <!-- TODO 2D / 3D Toggle -->
      <!-- TODO Navigation tools (compass, zoom, move, etc.) -->
    </div>
    <div class="corner-bottom corner-left">
      <!-- TODO Move clock/timeline app to a gridster item? -->
      <app-timeline></app-timeline>
    </div>
    <div class="corner-bottom corner-right">
      <app-fullscreen [fullscreenActive]="fullscreenActive"
                      (fullscreenActiveChange)="handleFullscreen($event)">
      </app-fullscreen>
    </div>
  </gridster-item>
</gridster>
