<gridster [options]="options">
  <gridster-item [item]="dashboard[0]">
    <app-layer-list></app-layer-list>
  </gridster-item>
  <gridster-item [item]="dashboard[1]">
    <app-menu-context></app-menu-context>
  </gridster-item>
  <gridster-item [item]="dashboard[2]">
    <app-menu></app-menu>
  </gridster-item>
  <gridster-item [item]="dashboard[3]">
    <app-nav></app-nav>
  </gridster-item>
  <gridster-item [item]="dashboard[4]">
    <app-info></app-info>
  </gridster-item>
  <gridster-item [item]="dashboard[5]">
    <app-view-list></app-view-list>
  </gridster-item>
  <gridster-item [item]="dashboard[6]">
    <app-status></app-status>
  </gridster-item>
  <gridster-item [item]="dashboard[7]">
    <div appCesium class="mat-elevation-z1"></div>
  </gridster-item>
</gridster>
