.custom-main-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: #008CBA;
}

/* TODO Adjust styling */

/*
gridster {
  background: #121212 !important;
}

gridster-item {
}
*/
