<mat-button-toggle-group id="buttonToggleGroupLayout"
                         #group="matButtonToggleGroup"
                         [value]="selectedValue"
                         matTooltip="Change application layout">
  <mat-button-toggle value="left" aria-label="Globe to left" (change)="changeGridLayout($event.value)">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center" aria-label="Globe to center" (change)="changeGridLayout($event.value)">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right" aria-label="Globe to right" (change)="changeGridLayout($event.value)">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
